#Slamjam {
  height: 25vh;
  outline-style: dotted;
  outline-color: green;
  margin: 25px;
}

#topBar {
  background-color: cyan;
  text-align: center;
}

#fullscreen-frame {
  height: 1200;
  width: 1800;
}

body {
  background-image: url("https://github.com/xSpacklesx/cs50Web/blob/master/project0/images/bg3.png?raw=true");
}

a {
  color:darkgreen;
}

#gamebg {
  background-image: url("https://github.com/xSpacklesx/cs50Web/blob/master/project0/images/bg2.png?raw=true");
}
