#Slamjam {

  outline-style: dotted;
  outline-color: green;
}

.container-fluid {
  text-align: center;
}

#topBar {
  background-color: cyan;
  text-align: center;
}

body {
  background-color: black;
}
