#Slamjam {
  height: 25vh;
  outline-style: dotted;
  outline-color: green;
  margin: 25px;
}

#topBar {
  background-color: cyan;
  text-align: center;
}

#fullscreen-frame {
  height: 1200;
  width: 1800;
}

body {
  background-image: url("E:\hSpack\Web\cs50Web\project0\images\bg3.png");
  background-repeat: repeat-y;
}

a {
  color:darkgreen;
}
